################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Lab 13 décembre 2017/SystèmeGestionPharmacie/InterfaceUtilisateur/obj/Debug/SysPharmacie.csproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
/Lab 13 décembre 2017/SystèmeGestionPharmacie/InterfaceUtilisateur/obj/Release/SysPharmacie.csproj.CoreCompileInputs.cache
/Lab 13 décembre 2017/SystèmeGestionPharmacie/obj/Release/SystèmeGestionPharmacie.csproj.CoreCompileInputs.cache
/Lab 13 décembre 2017/SystèmeGestionPharmacie/obj/Debug/
/Lab 13 décembre 2017/SystèmeGestionPharmacie/obj/Debug/*
/.vs/TP3GenieLogiciel2/v15/.suo
/Lab 13 décembre 2017/.vs/SystèmeGestionPharmacie/v15/Server/sqlite3/storage.ide-shm
/Lab 13 décembre 2017/.vs/SystèmeGestionPharmacie/v15/Server/sqlite3/storage.ide-wal
